@using RegistrForm.Models;
@model RegistrForm.Models.User
@{
    Layout = null;
    Html.EnableClientValidation(true);
}
<style>
    td {
        padding-left: 20px;
    }

    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }

    label {
        display: inline-block;
        width: 100px;
        font-weight: bold;
        margin: 5px;
    }

    form label {
        float: left;
    }

    input.text-box {
        float: left;
        margin: 5px;
    }

    button[type=submit] {
        margin-top: 5px;
        float: left;
        clear: left;
    }

    form div {
        clear: both;
    }
</style>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Edit User</legend>
        @Html.ValidationSummary()
        @Html.HiddenFor(u=> u.Id)
        <table>
            <tr>
                <td>
                    <label>FirstName:</label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.FirstName)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    <label>LastName:</label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.LastName)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Login:</label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Login)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Login)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Password)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email:</label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Email)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Email)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Phone:</label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Phone)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Phone)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Role:</label>
                </td>
                <td>
                    @Html.DropDownList("Roles", (SelectList)ViewBag.User)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.LastName)
                </td>
            </tr>
        </table>

        <br />
        <input type="submit" />
    </fieldset>
}
